*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'montsratt',sans-serif;
}

.app{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 420px;
  width: 700px;
  margin: auto;
  margin-top: 100px;
  padding:   20px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(58, 56, 56, 0.5)  ;
}

.container{
  display: flex;
  flex-direction: column;
  margin:10px;
  font-size: 20px;
  font-weight: 700;
}


input[type=number]{
  padding: 12px 20px;
  margin-top: 10px;
  margin-bottom:20px ;
  margin-left: 90px;
  width: 450px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
 }

 input[type=number]:focus {
  border: 3px solid rgb(109, 107, 107);
}

.container-flex{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-left: 100px;
 
}
.money{
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-size: larger;
  font-weight: 700;
  box-shadow: 2px 2px 2px 2px rgba(94, 89, 89, 0.507)  ;
  border-radius: 20px;
  border: none;
}

.change{
  border-radius: 50%;
  padding: 5px;
  font-size: 30px;
  font-weight: 1000;
  background-color:rgb(59, 57, 57) ;
  color: rgb(255, 255, 255);
  border: 7px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 2px 3px rgba(94, 89, 89, 0.507)  ;
  cursor:pointer;
  
}

.convertir{
  margin-top: 30px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  background-color: #79af31;
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 2px  rgba(94, 89, 89, 0.507)  ;
}


/*button{
  appearance: none;
  border:none;
  outline:none;
  color:black;
  font-size:20px;
  font-weight: 1000;
  padding:16px;
  margin: 10px;
  cursor:pointer;
  width: 150px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5)  ;
  border-radius: 5px;
  transition-duration: 0.4s;
}*/
 
 
button:hover{
  opacity:0.7;

}

.result{
  display: flex;
  flex-direction: row;
  margin: 20px;
  background-color:rgb(104, 101, 101) ;
  height: 100px;
  text-align:end;
  color: white;
  border-radius: 15px;
  font-weight: 500;
  font-size: 30px;
  padding:20px;
  align-items:center;
  box-sizing: border-box;
}
h1{
  font-size:20px ;
  color:#79af31 ;
  position:bottom;
  margin: 5px;
  margin-top: 20px;

}


